

/*body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}*/

html::before,
html::after,
body::before,
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: .5vmin;
  height: .5vmin;
  border-radius: 50%;
  color: transparent;
}

h1 {
  margin: 0;
  /*height: 12vmin;
  width: 120vmin;*/
  display: flex;
  justify-content: center;
  position: fixed;
  right: 8vw;
  bottom: 50vw;
  z-index: -20;
}

h1::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -19 !important;
  /*top: -26vmin;*/
  right: 0px;
  width: 62vmin;
  height: 62vmin;
  border-radius: 50%;
  /*border: 1.3vmin solid currentColor;*/
  box-sizing: border-box;
}

em {
  /*font-family: 'Josefin Sans', sans-serif;*/
  color: currentColor;
  font-size: 15vmin;
  position: relative;
  font-style: normal;
  width: 20vmin;
  text-align: center;
}

em.planet {
  -webkit-animation: planet-rotate 65s linear infinite;
  animation: planet-rotate 65s linear infinite;
  position: relative;
}

em.planet::before {
  content: "";
  position: absolute;
  top: -.5vmin;
  left: 3.5vmin;
  z-index: -19 !important;
  width: 13vmin;
  height: 13vmin;
  border-radius: 50%;
  font-size: 10px;
}

    em.planet.left {
        -webkit-transform-origin: 50vmin 5vmin;
        transform-origin: 50vmin 5vmin;
        font-size: 20px;
    }

    em.planet.right {
        -webkit-transform-origin: -20vmin 5vmin;
        transform-origin: -20vmin 5vmin;
        font-size: 20px;
    }
    em.planet.middle {
        -webkit-transform-origin: -20vmin -10vmin;
        transform-origin: -20vmin -10vmin;
        font-size: 20px;
    }

@-webkit-keyframes planet-rotate {
  to {
    -webkit-transform: rotate(1turn);
  }
}

@keyframes planet-rotate {
  to {
    transform: rotate(1turn);
  }
}

@media (max-width: 767.98px) {
    h1 {
  right: 3vw;
    }
}










em.planet2 {
    -webkit-animation: planet-rotate 100s ease-in-out infinite;
    animation: planet-rotate 100s ease-in-out infinite;
    position: relative;
}

em.planet2::before {
  content: "";
  position: absolute;
  top: -.5vmin;
  left: 3.5vmin;
  z-index: -19 !important;
  width: 13vmin;
  height: 13vmin;
  border-radius: 50%;
  font-size: 10px;
}

    em.planet2.left2 {
        -webkit-transform-origin: 50vmin 5vmin;
        transform-origin: 50vmin 5vmin;
        font-size: 20px;
    }

    em.planet2.right2 {
        -webkit-transform-origin: -20vmin 5vmin;
        transform-origin: -20vmin 5vmin;
        font-size: 20px;
    }
    em.planet2.middle2 {
        -webkit-transform-origin: -20vmin -10vmin;
        transform-origin: -20vmin -10vmin;
        font-size: 20px;
    }

@-webkit-keyframes planet2-rotate {
  to {
    -webkit-transform: rotate(1turn);
  }
}

@keyframes planet2-rotate {
  to {
    transform: rotate(1turn);
  }
}

@media (max-width: 767.98px) {
    h1 {
  right: 3vw;
  right2: 3vw;
    }
}