/*
light blue:
color: rgb(195, 228, 239);

dark blue
color: rgb(56,62, 77);

red
color: rgb(140,0,57);

pink
color: rgb(186,114,162);

beige
color: rgb(226, 226, 213); 
*/


html {
    cursor: alias !important;
}
h3{
    color: rgb(140,0,57);
}
h2 {
    color: rgb(186,114,162);
}
a {
    text-decoration: overline;
    color: rgb(195, 228, 239);
}
.a-inverse > a{
    text-decoration: overline;
    color: rgb(56,62, 77) !important;
}
a:hover {
    color: rgb(195, 228, 239);
    text-decoration: none;
    cursor: crosshair;
}

.a-inverse > a:hover {
    color: rgb(56,62, 77);
    text-decoration: none;
    cursor: crosshair;
}
.accordion {
    font-size: 10px;
}
button {
    cursor: alias;
}
button:focus {
    cursor: crosshair;
}
button:hover {
    cursor: crosshair !important;
}

.border-circle {
    border-style: solid;
    border-color: rgb(56,62, 77);
    border-radius: 200px;
}
.btn:not(:disabled):not(.disabled) {
    cursor: crosshair !important;
}
select {
    background-color: rgb(56,62, 77);
    color: rgb(195, 228, 239);
    -moz-appearance: none;
    -webkit-appearance: none;
    border-style: solid;
    border-color: rgb(56,62, 77);
    border-width: 3px;
    padding: 0px 2px !important;
    cursor: crosshair !important;

}

body {
    background-color: rgb(195, 228, 239);
    color: rgb(56,62, 77) !important;
    padding-top: 0px;
    padding-right: 2px;
    padding-bottom: 60px;
    text-align: end;
    font-size: 10px;
}

.btn {
    background-color: rgb(56,62, 77);
    color: rgb(195, 228, 239) !important;
    padding: 2px;
    margin: 2px;
    font-size: 1em;
    /*transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;*/
}
.btn-red {
    background-color: rgb(140,0,57);
    color: rgb(226, 226, 213) !important;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.bg-dark {
    background-color: rgb(56,62, 77) !important;
}
.border-standard {
    position: relative;
    border-width: 25px 3px;
    bottom: -25vh;
    display: inline-block;
    border-style: solid;
    Background-color: rgb(195, 228, 239);
    color: rgb(56,62, 77);
}
.carousel {
    max-width: 100px;
    border-color: rgb(56,62, 77);
    border-radius: 200px;
    border-style: solid !important;
}
.card {
    background-color: rgb(195, 228, 239) !important;
}
.container {
    align-items: flex-end;
}
.cartTable {
    border-style: solid;
    color: rgb(56,62, 77); /*padding: 15px;*/
}
.custom-toggler.navbar-toggler {
    border-color: none;
    border-style: none;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#E5AD24' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    background-image: none;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0;
    text-align: end;
    font-size: 1rem;
    line-height: 1;
    color: rgb(195, 228, 239);
    background-color: rgb(56,62, 77);
    background-clip: padding-box;
    border: 1px solid rgb(195, 228, 239);
    border-radius: .25rem;
}
form {
    background-color: black:
}
hr {
    background: repeating-radial-gradient(rgb(195, 228, 239),rgb(195, 228, 239), rgb(56,62, 77), white );
    border-width: 5px;
}
.image-sizer{
    width: 100%;
}
.image-neuron {
    padding-bottom: 60px;
    padding-right: 5px;
    width: 70vw;
    height: auto;
    text-align: end;
    z-index: -10;
}
.nav-bottom {
    position: absolute;
    bottom: 6px;
}
.navbar-custom{
    font-size: 1rem;
}
.nav-item-custom{
    display: inline-block;
}
.nav-link{
    padding: 5px;
}
.nav-block {
    display: inline-block;
    width: 90px;
    border-style: solid;
    border-width: thick;
    Background-color: rgb(56,62, 77);
}
.nav-block-thin {
    display: inline-block;
    width: 20px;
    border-style: solid;
    /*border-image:url(/images/PortalGun.png);*/
    border-width: thick;
    Background-color: rgb(56,62, 77);
}
.navBack {
    display: inline-block;
    background-color: rgb(56,62, 77);
    color: rgb(195, 228, 239);
    height: 45px;
    position: fixed;
    /*margin-top: 0;*/
    z-index: 50;
    width: 110%;
    padding: 0px;
    margin: 0px;
    bottom: 0;
    left: 0;
}
option {
    background-color: black;
}
table {
    border-color: rgb(56,62, 77) !important;
    border-width: 25px 3px;
    border-collapse: separate;
    border-spacing: 25px 2px;
}
/*tr{
    padding: 15px !important;
}*/
.thing-card {
    margin: 1vw;
    padding: 5px;
    display: inline-block;
    border-style: hidden;
    border-radius: 2px;
    box-shadow: 15px 5px 2px rgb(56,62, 77);
}
.thing-Details-card {
    margin: 1vw;
    padding: 5px;
    display: inline-block;
    border-style: hidden;
    border-radius: 2px;
    box-shadow: 15px 5px 2px rgb(56,62, 77);
}
.thing-image {
    max-width: 200px;
    padding-right: 15px;
}
.thing-detail-image {
    max-height: 50vh !important;
    padding-right: 15px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
@media (max-width: 767.98px) {
    .image-sizer{
        width: 80%;
        height: auto;
    }

}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgb(195, 228, 239) !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #909 !important;
    opacity: 1;
}