@model ThingCart
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
@if (Model.Things.Count == 0)
{
    <p>nothing in your cart, <a asp-controller="things" asp-action="index">check out some products</a></p>
}
else
{
    <table>
        @foreach(var product in Model.Things){
            <tr>
                <td>@product.Name</td>
                <td>@((product.Price ?? 0).ToString("c"))</td>
                <td>@product.Description</td>
                <td>
                    <form asp-action="remove" method="post">
                        <input type="hidden" value="@product.Id" />
                        <button class="btn btn-danger">Remove</button>
                    </form>
                   </td>
            </tr>
         }
    </table>
}