@{
    ViewData["Title"] = "Reset password confirmation";
}

<h2>@ViewData["Title"]</h2>
<div style="border-width: 25px 3px; display: inline-block; border-style: solid; Background-color: rgba(195, 228, 239, .9) !important; color: rgb(56,62, 77);">
    <p>
        Your password has been reset. Please <a asp-action="Login">click here to log in</a>.
    </p>
</div>