@{
    ViewData["Title"] = "About";
}
<div class="fixed-bottom" style="z-index: -20; padding-right: 25px">

    <img class=" image-neuron" src="/images/PortalBenjaminDark.png" style="Background-color: rgba(195, 228, 239, .7) !important" />
</div>
    <div class=border-standard>
        <h3>@ViewData["Title"]</h3>
        <h6>Buy things from anywhere in the multiverse</h6>

        <p>@ViewData["Message"]</p>

    </div>
