@{
    ViewData["Title"] = "About";
}
<div class=" border-standard">
    <div class="card">
        <h3>@ViewData["Title"]</h3>
        <h4>@ViewData["Message"]</h4>

        <p>Buy things from anywhere in the multiverse</p>
    </div>
</div>
