@{
    ViewData["Title"] = "About";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
    <div class=border-standard-free>
        <h3>@ViewData["Title"]</h3>
        <h4>Buy things from anywhere in the multiverse</h4>
        <h6 style="font-weight: 100; line-height: 1.5">@ViewData["Message"]</h6>
    </div>
