@{
    ViewData["Title"] = "About";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
    <div class=border-standard-free>
        <h3>@ViewData["Title"]</h3>
        <h6>Buy things from anywhere in the multiverse</h6>

        <p>@ViewData["Message"]</p>

    </div>


<div class="fixed-bottom" style="z-index: -20">

    <img class=" image-neuron" src="/images/PortalBenjaminDark.png" />
</div>