@{
    ViewData["Title"] = "Contact";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="border-standard-free">
    <h3>@ViewData["Title"]</h3>

<h6>Position/Address</h6>
    <address>
        Dimension C137<br />
        Group: 314159265359, 33898797822205 98052-6399<br />
        System: 338987989873 3879873 38798798<br />
        Galaxy: Milky Way<br />
        Solar System: The Solar System<br />
        Planet: Earth<br />
        Country: USA<br />
        State: Illinois<br />
        City: Chicago<br />
        Street: Paulina<br />

        <abbr title="Phone">P:</abbr>
        425.555.5555
    </address>
    <h6>@ViewData["Message"]</h6>

    <address class="a-inverse">
        <strong>Support:</strong> <a href="mailto:notstudios@gmail.com">0&1000101001000.&10&1010&1.earth.@@mmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:notstudios@gmail.com">0&10&10&11011101.earth.mrpoopybutthole@mmail.com</a>
    </address>
</div>


<div class="fixed-bottom" style="z-index: -20">

    <img class=" image-neuron" src="/images/PortalBenjaminDark.png" />
</div>