@{
    ViewData["Title"] = "Contact";
}
<div class="border-standard">
    <h3>@ViewData["Title"]</h3>
    <h4>@ViewData["Message"]</h4>

    <address>
        Dimension C137<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.5555
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>