@{
    ViewData["Title"] = "Home";
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>

}


<link rel="stylesheet" href="~/css/orbit.css" />


<div class="fixed-bottom" style="display: inline-block; padding-bottom: 60px; padding-left:10px; z-index: -12; right: auto; width: 105">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner border-standard-free">
            <div class="carousel-item active">
                <img class="d-block w-100 border-circle" src="/images/EyeholesSquare.png" alt="Eyeholes">
            </div>
            <div class="carousel-item border-circle">
                <img class="d-block w-100 border-circle" src="/images/StrawberrySmigglesSquare.jpeg" alt="StrawberrySmiggles">
            </div>
            <div class="carousel-item border-circle">
                <img class="d-block w-100 border-circle" src="/images/TurbulentJuiceSquare.png" alt="TurbulentJuice">
            </div>
            <div class="carousel-item border-circle">
                <img class="d-block w-100 border-circle" src="/images/PortalGunSquare.png" alt="PortalGun">
            </div>
        </div>
    </div>
</div>

<div class="fixed-bottom" style="z-index: -20">

    <img class=" image-neuron" src="/images/PortalBenjaminDark.png" />
</div>

<div class="orbit-bottom" style="z-index: -20">
<h1>
    <em> </em>
    <em class="planet left">o</em>
    <em class="planet right">⚛︎</em>
    <em></em>
</h1>
</div>