@{
    ViewData["Title"] = "Home Page";
}







<div class="container fixed-bottom" style="padding-bottom: 60px; z-index: -1">
    <div class="row align-items-end">

        <div class="col">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner border-circle">
                    <div class="carousel-item active">
                        <img class="d-block w-100 border-circle" src="/images/Eyeholes.png" alt="Eyeholes">
                    </div>
                    <div class="carousel-item border-circle">
                        <img class="d-block w-100 border-circle" src="/images/StrawberrySmiggles.jpeg" alt="StrawberrySmiggles">
                    </div>
                    <div class="carousel-item border-circle">
                        <img class="d-block w-100 border-circle" src="/images/TurbulentJuice.png" alt="TurbulentJuice">
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <img src="/images/Neuron.png" />
        </div>
    </div>
</div>