@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="border-standard-free" >
<h3>Manage your account</h3>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <div class="">
        <div class="">
            @await Html.PartialAsync("_ManageNav")
        </div>
        <div class="">
            @RenderBody()
        </div>
    </div>
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="">
        <button type="submit" class="btn ">Log out</button>
    </form>
</div>
</div>
@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
